### Study Group

### Import the neccessary library

In [1]:
# Imports neccesary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Load the dataset

In [2]:
# Load the dataset
module_df = pd.read_csv('data2.csv')
course_df = pd.read_csv('data1.csv')

In [3]:
module_df.head()

,CentreName,AcademicYear,LearnerCode,CourseLevel,ModuleCode,ModuleName,ModuleTotal,Term,ModuleOutcome,ResitsTaken,ModuleTotalBeforeResits,ModuleCreditEquivalence,ModuleCreditsAchieved,PresentCount,LateCount,AuthorisedAbsenceCount,UnauthorisedAbsenceCount,AttendancePercentage,ContactHours
0,ISC_Aberdeen,2019/20,2284932,Pre-Masters,P_AES,Academic English Skills,75.25,2020 Sum2,Pass,No,NaN,0.0,0.0000,NaN,NaN,NaN,NaN,NaN,NaN
1,ISC_Aberdeen,2019/20,2284932,Pre-Masters,P_AF,Accounting & Finance,69.50,2020 Sum2,Pass,No,NaN,15.0,10.4250,NaN,NaN,NaN,NaN,NaN,NaN
2,ISC_Aberdeen,2019/20,2284932,Pre-Masters,P_BE,Business Economics,68.00,2020 Sum2,Pass,No,NaN,15.0,10.2000,NaN,NaN,NaN,NaN,NaN,NaN
3,ISC_Aberdeen,2019/20,2284932,Pre-Masters,P_QBM,Quantitative Methods for Business,87.35,2020 Sum2,Pass,No,NaN,15.0,13.1025,NaN,NaN,NaN,NaN,NaN,NaN
4,ISC_Aberdeen,2019/20,2399500,Foundation,F_AES,Academic English Skills,69.25,2020 Sum1,Pass,Yes,67.25,0.0,0.0000,25.0,0.0,4.0,0.0,100.0,64.0

In [4]:
course_df.head()

,CentreName,AcademicYear,LearnerCode,BookingId,BookingType,LeadSource,DiscountType,DateofBirth,Gender,Nationality,...,CreditWeightedAverage,ProgressionDegree,ProgressionUniversity,EligibleToProgress,PresentCount,LateCount,AuthorisedAbsenceCount,UnauthorisedAbsenceCount,ContactHours,AttendancePercentage
0,ISC_Sussex,2020/21,2139267,37773931,Direct,Digital (Web),NaN,5/27/1994,Male,Nigerian,...,68.0,BSc (Hons) Mathematics,University of Sussex,Yes,251.0,7.0,0.0,35.0,386.0,88.0
1,ISC_Aberdeen,2020/21,2157299,34202140,Agent,Standard Agent Booking,NaN,9/16/1994,Male,Chinese,...,56.0,MA Economics & Finance,University of Aberdeen,No,192.0,5.0,9.0,26.0,238.0,89.0
2,ISC_Sheffield,2021/22,2161972,38394130,Agent,Standard Agent Booking,NaN,1/10/1999,Female,Chinese,...,63.0,MSc Management,University of Sheffield International College,Yes,232.0,0.0,0.0,39.0,469.0,86.0
3,ISC_Durham,2020/21,2164343,29395152,Agent,Standard Agent Booking,NaN,2/19/1996,Female,Chinese,...,62.0,MSc Finance (Economics and Finance) (alternati...,Durham University,No,205.0,0.0,0.0,18.0,341.0,92.0
4,ISC_LJMU,2020/21,2165315,34626658,Agent,Sponsor,NaN,3/19/1997,Female,Saudi,...,80.0,BEng (Hons) Mechanical Engineering,Liverpool John Moores University,Yes,483.0,20.0,5.0,59.0,492.0,90.0

## Cleaning Dataset 1 - Course Dataset

### Let's modified the center name to remove "ISC_"

In [8]:
# Remove the 'ISC_' prefix and convert to title case
course_df['CentreName'] = course_df['CentreName'].str.replace('ISC_', '', case=False).str.title()
module_df['CentreName'] = module_df['CentreName'].str.replace('ISC_', '', case=False).str.title()

### Let check the nature of the NonCompletionReason and fill it up

In [16]:
course_df["NonCompletionReason"]=course_df["NonCompletionReason"].fillna("Not Applicable")

### Discount Type

In [17]:
course_df['DiscountType']=course_df['DiscountType'].fillna('No Discount')

### Drop Homestate and Homecity

In [21]:
course_df.drop(columns=['HomeState','HomeCity'])

,CentreName,AcademicYear,LearnerCode,BookingId,BookingType,LeadSource,DiscountType,DateofBirth,Gender,Nationality,...,CreditWeightedAverage,ProgressionDegree,ProgressionUniversity,EligibleToProgress,PresentCount,LateCount,AuthorisedAbsenceCount,UnauthorisedAbsenceCount,ContactHours,AttendancePercentage
0,Sussex,2020/21,2139267,37773931,Direct,Digital (Web),No Discount,5/27/1994,Male,Nigerian,...,68.0,BSc (Hons) Mathematics,University of Sussex,Yes,251.0,7.0,0.0,35.0,386.0,88.0
1,Aberdeen,2020/21,2157299,34202140,Agent,Standard Agent Booking,No Discount,9/16/1994,Male,Chinese,...,56.0,MA Economics & Finance,University of Aberdeen,No,192.0,5.0,9.0,26.0,238.0,89.0
2,Sheffield,2021/22,2161972,38394130,Agent,Standard Agent Booking,No Discount,1/10/1999,Female,Chinese,...,63.0,MSc Management,University of Sheffield International College,Yes,232.0,0.0,0.0,39.0,469.0,86.0
3,Durham,2020/21,2164343,29395152,Agent,Standard Agent Booking,No Discount,2/19/1996,Female,Chinese,...,62.0,MSc Finance (Economics and Finance) (alternati...,Durham University,No,205.0,0.0,0.0,18.0,341.0,92.0
4,Ljmu,2020/21,2165315,34626658,Agent,Sponsor,No Discount,3/19/1997,Female,Saudi,...,80.0,BEng (Hons) Mechanical Engineering,Liverpool John Moores University,Yes,483.0,20.0,5.0,59.0,492.0,90.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25054,Online,2022/23,2831028,43983997,Agent,Standard Agent Booking,No Discount,5/29/1996,Male,Chinese,...,63.0,NaN,Lancaster University,Yes,147.0,3.0,0.0,0.0,172.0,100.0
25055,Online,2022/23,2831145,43984593,Agent,Standard Agent Booking,No Discount,12/13/2000,Male,Chinese,...,53.0,MSC International Business Management,University of Strathclyde,Yes,153.0,2.0,0.0,2.0,172.0,99.0
25056,Online,2022/23,2831148,43984602,Agent,Standard Agent Booking,No Discount,9/21/1997,Male,Chinese,...,65.0,Business Analytics,Lancaster University,Yes,150.0,3.0,0.0,4.0,172.0,97.0
25057,Online,2022/23,2831159,43984631,Agent,Standard Agent Booking,No Discount,6/1/2001,Male,Chinese,...,48.0,NaN,UK Online Pathways,No,143.0,9.0,0.0,1.0,169.0,99.0
25058,Online,2022/23,2831468,43985441,Agent,Standard Agent Booking,No Discount,11/1/2000,Male,Chinese,...,63.0,NaN,Lancaster University,Yes,141.0,3.0,2.0,11.0,172.0,93.0

### Termination Date

In [22]:
course_df["new_terminationdate"]=course_df["TerminationDate"].fillna('CompletionDate')

### Assessed Module, PassedModules, FailedModules, CreditWeightedAverage

In [23]:
course_df.columns

Index(['CentreName', 'AcademicYear', 'LearnerCode', 'BookingId', 'BookingType',
       'LeadSource', 'DiscountType', 'DateofBirth', 'Gender', 'Nationality',
       'HomeCountry', 'HomeState', 'HomeCity', 'CourseLevel', 'CourseName',
       'CourseFirstIntakeDate', 'IsFirstIntake', 'CourseStartDate',
       'CourseEndDate', 'CompletedCourse', 'NonCompletionReason',
       'ArrivedDate', 'TerminationDate', 'AssessedModules', 'PassedModules',
       'FailedModules', 'CreditWeightedAverage', 'ProgressionDegree',
       'ProgressionUniversity', 'EligibleToProgress', 'PresentCount',
       'LateCount', 'AuthorisedAbsenceCount', 'UnauthorisedAbsenceCount',
       'ContactHours', 'AttendancePercentage', 'new_terminationdate'],
      dtype='object')

In [24]:
assessed_cols = ['AssessedModules', 'PassedModules','FailedModules', 'CreditWeightedAverage']

In [26]:
course_df.drop(columns=assessed_cols)

,CentreName,AcademicYear,LearnerCode,BookingId,BookingType,LeadSource,DiscountType,DateofBirth,Gender,Nationality,...,ProgressionDegree,ProgressionUniversity,EligibleToProgress,PresentCount,LateCount,AuthorisedAbsenceCount,UnauthorisedAbsenceCount,ContactHours,AttendancePercentage,new_terminationdate
0,Sussex,2020/21,2139267,37773931,Direct,Digital (Web),No Discount,5/27/1994,Male,Nigerian,...,BSc (Hons) Mathematics,University of Sussex,Yes,251.0,7.0,0.0,35.0,386.0,88.0,CompletionDate
1,Aberdeen,2020/21,2157299,34202140,Agent,Standard Agent Booking,No Discount,9/16/1994,Male,Chinese,...,MA Economics & Finance,University of Aberdeen,No,192.0,5.0,9.0,26.0,238.0,89.0,CompletionDate
2,Sheffield,2021/22,2161972,38394130,Agent,Standard Agent Booking,No Discount,1/10/1999,Female,Chinese,...,MSc Management,University of Sheffield International College,Yes,232.0,0.0,0.0,39.0,469.0,86.0,CompletionDate
3,Durham,2020/21,2164343,29395152,Agent,Standard Agent Booking,No Discount,2/19/1996,Female,Chinese,...,MSc Finance (Economics and Finance) (alternati...,Durham University,No,205.0,0.0,0.0,18.0,341.0,92.0,CompletionDate
4,Ljmu,2020/21,2165315,34626658,Agent,Sponsor,No Discount,3/19/1997,Female,Saudi,...,BEng (Hons) Mechanical Engineering,Liverpool John Moores University,Yes,483.0,20.0,5.0,59.0,492.0,90.0,CompletionDate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25054,Online,2022/23,2831028,43983997,Agent,Standard Agent Booking,No Discount,5/29/1996,Male,Chinese,...,NaN,Lancaster University,Yes,147.0,3.0,0.0,0.0,172.0,100.0,CompletionDate
25055,Online,2022/23,2831145,43984593,Agent,Standard Agent Booking,No Discount,12/13/2000,Male,Chinese,...,MSC International Business Management,University of Strathclyde,Yes,153.0,2.0,0.0,2.0,172.0,99.0,CompletionDate
25056,Online,2022/23,2831148,43984602,Agent,Standard Agent Booking,No Discount,9/21/1997,Male,Chinese,...,Business Analytics,Lancaster University,Yes,150.0,3.0,0.0,4.0,172.0,97.0,CompletionDate
25057,Online,2022/23,2831159,43984631,Agent,Standard Agent Booking,No Discount,6/1/2001,Male,Chinese,...,NaN,UK Online Pathways,No,143.0,9.0,0.0,1.0,169.0,99.0,CompletionDate
25058,Online,2022/23,2831468,43985441,Agent,Standard Agent Booking,No Discount,11/1/2000,Male,Chinese,...,NaN,Lancaster University,Yes,141.0,3.0,2.0,11.0,172.0,93.0,CompletionDate

### Present count, latecount, authorise absent, unauthorise absent, contact

In [28]:

course_df['new_present']= course_df['PresentCount'].fillna(0)
course_df['new_late']=course_df['LateCount'].fillna(0)
course_df['new_auth']=course_df['AuthorisedAbsenceCount'].fillna(0)
course_df['newunath']=course_df['UnauthorisedAbsenceCount'].fillna(0)
course_df['newcontact'] = course_df['ContactHours'].fillna(0)

### Check Missing Value and Replacing them

In [ ]:
module_df.isna().sum()

- The "Totalbeforeresits" mostly applicable to students that take resits for modules
- Any student that doesn't take resit will have NaN under the ModuleTotalBeforeResits
- We are going to change the NaN to '100' toshow that the studends passed the module without resit

In [ ]:
# Replace NaN values in the "ModuleTotalBeforeResits" column with "No Resit"
module_df['ModuleTotalBeforeResits'] = module_df['ModuleTotalBeforeResits'].fillna('100')

In [ ]:
module_df.isna().sum()

### Let check the nature of the present count

In [ ]:
#let see the NaN under Present count
presentcount_nan = module_df[module_df['PresentCount'].isna()]
presentcount_nan

- Looking at the attendance data (PresentCount, LateCount, AuthorisedAbsenceCount, UnauthorisedAbsenceCount, AttendancePercentage, ContactHours), it is either the attendance is missing or the students is absent
- we will replace all the NaN with 0

In [ ]:
#Let's extract all the attendance columns
attendance_cols = ["PresentCount", "LateCount", "AuthorisedAbsenceCount", "UnauthorisedAbsenceCount", "AttendancePercentage", "ContactHours"]

#### Let's replace all nan with 0

In [ ]:
module_df[attendance_cols] = module_df[attendance_cols].fillna(0)

In [ ]:
module_df.isna().sum()

### Check Duplicate

In [ ]:
duplicates = module_df.duplicated()
duplicates.sum()

- There is no duplicates in the dataset